body {
  background-color: #222;
}

ol, ul {
padding-left: 0px;
list-style: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 0px;
}

.square {
  background: rgba(255, 255, 255, 0);
  border: 3px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  color: purple;
  line-height: 34px;
  height: 150px;
  width: 150px;
  margin-right: 1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 00px;
  padding: 0;
  font-size: 24px;
  font-family: "Roboto", roboto;
  color: #ddd;
  /* border: 2px dotted yellow; */
}

.player-info{
  /* border: 2px dotted blue; */
  align-items: left;
}

.game-play {
  /* border: 2px dotted blue; */
  text-align: center;
}

.game-board {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* border: 2px dotted green; */
}